body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E0DDCF; 
    color: #2D232E; 
}

.navBar {
    background-color: #534B52;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #2D232E;
}

.navBar button {
    background-color: #2D232E; 
    color: #F1F0EA; 
    border: 2px solid #534B52; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s, color 0.3s; 
    margin-left: 10px; 
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.navBar ul li {
    display: inline-block;
    margin-right: 15px; 
}

.navBar ul li:last-child {
    margin-right: 0; 
}

.navBar ul li a {
    text-decoration: none;
    color: #F1F0EA;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s;
}

/* Integrate navbar */
.navBar ul li a:hover {
    background-color: #2D232E; 
    color: #F1F0EA;
}

body {
    margin-top: 60px; 
}


.container, .container-main, .portfolio-container {
    max-width: 1200px;
    margin: 40px auto; 
    padding: 20px;
    background-color: #F1F0EA; 
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column; 
}


.image-container {
    display: flex;
    justify-content: center;
    flex: 0 0 250px; 
    margin-right: 40px;
    margin-top: 100px;
    flex: 0 0 300px;
}

/* Style image to be rounded */
.image-container img {
    max-width: 100%;
    height: 500px;
    border-radius: 10px;
    border: 3px solid #2D232E;
}


.text-container {
    flex: 1;
    text-align: justify; 
}

.text-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #2D232E;
    text-align: center;
}

.text-container p {
    font-size: 18px;
    line-height: 1.6em;
    color: #474448;
}


.social-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-box a {
    margin: 0 10px;
}

.social-box img {
    width: 40px;
    height: 40px;
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}


.grid-item {
    background-color: #534B52;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #F1F0EA;
}

.grid-item h3 {
    margin-top: 0;
    color: #E0DDCF;
}


.course-list {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #F1F0EA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.course-list ol {
    padding-left: 20px;
    color: #2D232E;
}

.course-list ol li {
    margin-bottom: 10px;
}


.resume-box {
    margin-top: 30px;
    text-align: center;
}
.container-service h2{
    text-align: center;
}
.container-qual h2{
    text-align: center;
}
.container-service, .container-qual {
        max-width: 1000px; 
        margin: 40px auto; 
        padding: 20px;
        background-color: #F1F0EA;
        border-radius: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        text-align: left; 

    
}

.resume-box iframe {
    width: 80%; 
    height: 600px; 
    border: none; 
    margin: 20px auto; 
    display: block; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.resume-box a {
    color: #534B52;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #534B52;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.resume-box a:hover {
    background-color: #534B52;
    color: #F1F0EA;
}


.section-title {
    color: #534B52;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}


ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #474448;
    margin-bottom: 10px;
}

h2 {
    color: #2D232E;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

#roadmap-page {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #F1F0EA;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#roadmap-page h2 {
    text-align: center;
    color: #2D232E;
    font-weight: bold;
    margin-bottom: 40px;
}

#roadmap-page .roadmap {
    position: relative;
    padding: 10px 0;
    margin-left: 30px;
    border-left: 2px solid #534B52;
}

#roadmap-page .roadmap-item {
    margin-bottom: 40px;
    position: relative;
    padding-left: 40px;
}

#roadmap-page .roadmap-item::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    width: 15px;
    height: 15px;
    background-color: #534B52;
    border-radius: 50%;
    border: 2px solid #E0DDCF;
}

#roadmap-page .roadmap-content {
    background-color: #534B52;
    color: #F1F0EA;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#roadmap-page .roadmap-content h3 {
    margin-top: 0;
    font-size: 24px;
    color: #E0DDCF;
}

#roadmap-page .roadmap-content p {
    margin: 0;
    font-size: 16px;
    line-height: 1.6em;
}

.projects-grid a{
    color: #E0DDCF;
}

.container-service a, .course-list a{
    color: #474448;
}

.roadmap-content a{
    color: #E0DDCF;
}